@import "rsuite/dist/rsuite.css";
@import '../styles/colors.css';

.messages-container {
	max-height: calc(100vh - 80px);
	max-width: 700px;
	margin: 20px auto;
	border: 1px solid white;
	padding: 10px;
	padding-top: 60px;
	background-color: white;
	overflow: auto;
  }
  
.user-message-container,
.assistant-message-container {
	display: flex;
	flex-direction: column;
	max-width: 100%;
	margin: 10px 0;
	margin-bottom: 20px;
}

.user-message-container {
	justify-content: flex-end;
	align-items: flex-end;
}

.assistant-message-container {
	justify-content: flex-start;
	align-items: flex-start;
	width: 100%;
}
  
/* Common styles for all messages */
.message {
	white-space: pre-line;
	padding: 14px;
	margin: 2px 0;
	border-radius: 15px;
	clear: both;
	font-size: 13px;
	font-weight: 400;
	line-height: 1.4;
}

.user-message {
	align-self: flex-end; /* Align user messages right */
	background-color: var(--primary-color);
	color: white;
}
  
.assistant-message {
	align-self: flex-start; /* Align assistant messages left */
	color: black;
	outline: 2px solid var(--primary-color);
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
	border-radius: 15px;
	min-height: 30px;
}

::-webkit-scrollbar {
	display: none;
}

.input-area {
	max-width: 700px;
	font-size: 15px;
	padding: 10px;
	bottom: 0;
	width: 100%;
	display: flex;
	border-top: 1px solid #ccc;
	background: white;
	position: fixed;
}

.input-area textarea {
	font-size: 15px;
	flex: 1;
	padding: 10px;
	border-radius: 15px;
	border: 1px solid #ccc;
	outline: 2px solid var(--primary-color);
	resize: none;
	overflow-y: auto;
	min-height: 200px;
	max-height: 200px;
	margin-right: 10px;
}

.input-area input {
	flex: 1;
	padding: 10px;
	margin-right: 10px;
	border: 1px solid #ccc;
	font-size: 13px;
}

.input-area button {
	padding: 10px 20px;
	border: none;
	border-radius: 15px;
	background-color: var(--primary-color);
	color: white;
	cursor: pointer;
	font-size: 13px;
}