@import '../styles/colors.css';
  
.clear-history-button {
    margin-right: auto;
    background-color: white;
    color: var(--primary-color);
    border: none;
    border-radius: 5px;
    padding: 8px 12px;
    margin-left: 1vh;
    cursor: pointer;
}
  
.clear-history-button:hover {
    background-color: black; /* Darker red on hover */
    color: white;
}